body {
    background-image: url('../img/wild_background.gif');
    background-repeat: no-repeat;
    background-color: bisque;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}