body {
    background-image: url('../img/wild_background.gif');
    background-repeat: no-repeat;
    background-color: bisque;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}

div {
    background-color: grey;
    text-align: center;
}

/* utilized https://stackoverflow.com/questions/7364516/put-divs-in-each-corner-of-the-page to quickly figure out how to align my divs the way I wanted */

.box {
    position: absolute;
    /* background-color: red; */
    width: 15%;
    height: 15%;
}
.box.top { top: 10%;}
.box.right { right: 10%; }
.box.left { left: 10%; }
.box.bottom { bottom: 10% }
.box.center {
    top:40%;
    right: 40%;
    width: 20%;
    height: 20%;
}

#starter {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}

#eat img {
    max-width: 100%;
    max-height: 100%;
    margin-top: -12%;
   }

#sleep img {
    max-width: 130%;
    max-height: 130%;
    margin-top: -20%;
   }